﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" Theme="light" %>
    <asp:Content runat="server" ContentPlaceHolderID="title">
       <h3>JAVA SCRIPT</h3> 
        </asp:Content>
    <asp:Content runat="server" ContentPlaceHolderID="concept">
    <p> JavaScript is the programming language of HTML and the Web. Java Script is a new language for me, by past 7 weeks I learn a lot of interesting about it. For example objects. 
        An object is a collection of related data and/or functionality (which usually consists of several variables and functions -
        which are called properties and methods when they are inside objects.) Let's loo through an example to understand what they look like.
        </p>
        </asp:Content>
    <asp:Content runat="server" ContentPlaceHolderID="links">
    <p>LINKS</p>
    <a href="https://www.w3schools.com/js/js_object_definition.asp"> Java Script Objects</a><br>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Working_with_Objects"> Working with objects </a>
        </asp:Content>                                
<asp:Content runat="server" ContentPlaceHolderID="dataGrid">
        <asp:CodeBox ID="js" runat="server" SkinId="CodeBox" code="js_code" owner="Me" codeType="js">
         </asp:CodeBox>
     </asp:Content>