﻿#header {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: #9cc2df;
}

.menu {
    text-align: center;
    padding-right: 10px;
    letter-spacing: 3px;
    padding-bottom: 10px;
}

    .menu li {
        display: inline-block;
        margin-right: 16px;
        margin-top: 12px;
    }

    .menu a {
        color: #fff;
    }

a:hover {
    color: #000;
    text-decoration: none;
}

#rcontainer {
    width: 50%;
    left: 50%;
    top: 10%;
    padding-left: 90px;
    padding-right: 90px;
    position: absolute;
}

#lcontainer {
    width: 40%;
    top: 10%;
    position: absolute;
    padding-left: 100px;
}

#footer {
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    color: #000;
    position: fixed;
    bottom: 0px;
    height: 40px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 10px;
    border-top: 1px solid #9cc2df;
}
