﻿<%@ Control Language="C#" Inherits="Assignment_2a_N01250909.CodeBox" %>
<asp:DataGrid id="Code" runat="server" CssClass="code" GridLines="None" Width="700px" CellPadding="3" >
    <HeaderStyle Font-Size="Medium" BackColor="#9cc2df" ForeColor="White" />
    <ItemStyle BackColor="#f7f7f7" ForeColor="#ffffff"/>     
</asp:DataGrid>
